@charset "UTF-8";
div,p{margin:0;padding:0;}

.common-login-wrap{
	font-family:'noto3','dotum';
	letter-spacing:-1px;
	text-align:center;
	color:#010101;
	background:#fff;
	border-bottom: 1px solid #e4e4e6;
	padding: 10px 0;
}

.common-login-wrap .login-media-width {
	width:1200px;
	margin: 0 auto;
}
/* 로그인 화면 S */
.member-info-common{
	display: flex;
    justify-content: flex-end;
	align-items: center;
}
.member-info-common .member-btns > li{
	margin-right: 20px;
    margin-left: 20px;
	position: relative;
	font-size: 14px;
}
.member-info-common .member-btns > li:first-child{
	margin-left: 0;
}
.member-info-common .member-btns > li:last-child{
	margin: 0;
}
.member-info-common .member-btns > li:not(:last-child) a{
	color: #000;
}
.member-info-common .member-btns > li::after{
	position: absolute;
    top: 5px;
    right: -21px;
    display: block;
    height: 10px;
    border-right: 1px solid #c8cbcd;
    content: '';
}

.member-info-common .member-btns > li:last-child::after{
	display: none;
}
.member-info-common .member-btns > li:nth-child(2),.member-info-common .member-btns > li:nth-child(3){
	display: flex;
    flex-direction: row-reverse;
	align-items: center;
}
.member-info-common .member-btns > li:nth-child(2)::before,.member-info-common .member-btns > li:nth-child(3)::before{
	content: '';
    display: block;
    margin-left: 10px;
    font-weight: 700;
    width: 15px;
    height: 15px;
    background-image: url('/_skin/sidae/popkon/main/2023/btn.png');
    /* opacity: .7; */
    background-repeat: no-repeat;
	background-position-y: 2px;
}
.member-info-common .member-btns{
	display: flex;
	align-items: center;
}
.member-info-common .member-btns .btn-logout{
	text-decoration: none;
	color: #000;
}
.member-info-common .member-btns .myroom_menu{
	display: none;
	position: absolute;
    z-index: 11;
    background: #fff;
	border: 1px solid #c8cbcd;
    top: 22px;
    padding: 10px 15px;
    left: 0;

}
.member-info-common .myroom_menu > a{
	width: 114px;
    display: flex;
    justify-content: space-between;
	padding-bottom: 4px;
	font-size: 13px;
}
.member-info-common .myroom_menu > a:hover{
	text-decoration: underline;
	color: #3770e0;
	font-weight: bold;
}
/* 로그인 화면 E */

/* 비로그인 화면 S: */
.top_gnb{
	display: flex;
	justify-content: flex-end;
	align-items: center;
} 
.top_gnb > li{
	position: relative;
	margin: 0 20px;
	font-size: 15px;
}
.top_gnb > li:last-child{
	margin: 0;
}
.top_gnb > li .btn-join{
	display: inline-block;
	margin-left: 20px;
}
.top_gnb > li a{
	color: #010101;
	user-select: none;
}
.top_gnb > li a:focus{
	outline: none;
}
.top_gnb > li:not(.top_gnb > li:last-child,.top_gnb > li:nth-child(4))::after{
    position: absolute;
    top: 7px;
    right: -21px;
    display: block;
    height: 10px;
    border-right: 1px solid #c8cbcd;
    content: '';
}
.top_gnb button{
	position: relative;
	color:#010101;
	font-family:'noto3';
	letter-spacing:-1px;
	text-align:center;
	display: inline-block;
    vertical-align: inherit;
	margin-right: 20px;
	background: none;
    border: none;
	font-size: 15px;
}
.top_gnb button::after{
	position: absolute;
    top: 7px;
    right: -21px;
    display: block;
    height: 10px;
    border-right: 1px solid #c8cbcd;
    content: '';
}
/* 비로그인 화면 E: */


/**********************************************미디어쿼리*****************************************************/
/* @media(max-width: 1450px){
	.common-login-wrap .brand-list {
	}	

}

@media(max-width: 1300px){
	.common-login-wrap{
        width:100% !important;
		box-sizing:border-box;
    }
	.common-login-wrap > div {
		width:100%;
		padding:0 20px;
		box-sizing:border-box;
		margin:0 auto;
	}

	.top_header > ul ,
	.top_navi_new > ul{
		width:100%;
		padding:0 10px;
		box-sizing:border-box;
	}
} */
